<form class="form-vartical" action="{{ path('userChangePassword') }}" {{ form_enctype(form) }} method="POST">
    <div class="col-sm-4 nopadding">
        <div class="register-form">
            <div class="form-group">
                <label class="control-label" for="fos_user_registration_form_nickName"> {{ "Current password" | trans }} *</label>
                {{ form_widget(form.current_password, {'attr': {'class' : 'form-control'} }) }}
                <span class="form-error"> {{ form_errors(form.current_password) }} </span>
            </div>
            <div class="form-group">
                <label class="control-label" for="fos_user_registration_form_nickName"> {{ "New password" | trans }} *</label>
                {{ form_widget(form.new.first, {'attr': {'class' : 'form-control'} }) }}
                <span class="form-error"> {{ form_errors(form.new.first) }} </span>
            </div>
            <div class="form-group">
                <label class="control-label" for="fos_user_registration_form_nickName"> {{ "Confirm new password" | trans }} *</label>
                {{ form_widget(form.new.second, {'attr': {'class' : 'form-control'} }) }}
                <span class="form-error"> {{ form_errors(form.new.second) }} </span>
            </div>
            <div class="form-group">
                <input type="submit"  class="btn btn-danger" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
</form>